---
import Layout from '../layouts/Layout.astro';
import { server as actions } from "../actions";

const result = Astro.getActionResult(actions.send);
if (result?.data) {
  return Astro.redirect("/");
}

---

<Layout>
	
	<h1>Send me an email</h1>
	<form action={actions.send} method="POST">
		<button type="submit">Send</button>
	</form>

</Layout>
