---
import Layout from '../layouts/Layout.astro';
import { server as actions } from "../actions";
---

<Layout>
	
	<h1>Send me an email</h1>
	<form action={actions.send} method="POST">
		<button type="submit">Send</button>
	</form>

</Layout>
